

body{
    font-family: 'Lato', sans-serif;
    background-color: rgba(25, 236, 255, 1);
    width: 100%;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .row {
    display: flex;
    justify-content: space-around;
  }

  .trend {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 250px;

      p {
        font-size: 300%;
        color: white;
        word-wrap: normal;
      }
  }
