$background: rgba(111, 25, 255, 1);

body {
    font-family: 'Lato', sans-serif;
    background-color: $background;
    width: 100%;
    color: white;
    //height: window.screen.height;  can i get this working??
  }

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}
// h1 {
//   font-size: 100%;
//   // color: white;
//   text-align: center;
// }

.row {
  display: flex;
  justify-content: space-around;
}

.trend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  width: 30%;
  height: 250px;

    p {
      text-align: center;
      width: 100%;
      font-size: 300%;
      word-wrap: break-word;
    }

    a {
      font-size: 150%;
      text-decoration: none;
      padding: 5px 0;
    }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  h1 {
  font-size: 300%
  }
}
