

body {
    font-family: 'Lato', sans-serif;
    background-color: rgba(111, 25, 255, 1);
    width: 100%;
    color: white;
    //height: window.screen.height;  can i get this working??
    display: fl ex;
  }

main {
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}
// h1 {
//   font-size: 100%;
//   // color: white;
//   text-align: center;
// }

.row {
  display: flex;
  justify-content: space-around;
}

.trend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 250px;

    p {
      font-size: 300%;
      word-wrap: normal;
    }

    a {
      font-size: 150%;
      word-wrap: normal;
      text-decoration: none;
      padding: 5px 0;
    }
}

footer {
  font-size: 200%
}
